@media only screen and (max-width: 376px)  {
    
    .BlogSection{

        position: relative;
        top: -130px;
    }
}


@media only screen and (min-width: 377px) and (max-width: 769px) {

    .BlogSection{

        position: relative;
        top: -130px;
    }


}

