.bgHeader {
    background-size: cover;
    background: linear-gradient(rgb(251 253 255 / 70%), rgb(6 6 6 / 44%),rgb(6 6 6 / 44%)),url(../../images//bannerforall.jpg) center center no-repeat;
}

@media (max-width:999px) {
    
    .bgHeader .Head{

        font-size: 16px;
    }
}
