@media only screen and (max-width: 376px)  {

    .sectionTitle .sectionHeading{

        text-align: center;
        margin-bottom: 40px;
    }

    .sectionTitle .sectionSubHeading{

        text-align: center;
        margin-top: 12px;
    }


}


@media only screen and (min-width: 377px) and (max-width: 769px){

    .sectionTitle .sectionHeading{

        text-align: center;
        margin-bottom: 40px;
    }

    .sectionTitle .sectionSubHeading{

        text-align: center;
        margin-top: 12px;
    }


}