
@media only screen and (max-width: 376px) {

    .sectionHeading{

        top: -190px;
        position: relative;

    }

    .sectionTitle h1{

        top: -160px;
        position: relative;

    }

    .chooseUs{

        position: relative;
        top: -170px;
    }
    
}


@media only screen and (min-width: 377px) and (max-width: 769px) {


    .sectionHeading{

        top: -190px;
        position: relative;

    }

    .sectionTitle h1{

        top: -160px;
        position: relative;

    }

    .chooseUs{

        position: relative;
        top: -170px;
    }

}


/* @media only screen and (min-width: 279px) and (max-width: 280px) {

.ImageChooseUs img{

    position: relative;
    top: -120px;
}

} */
