.bgHeader {
    background-size: cover;
    background: linear-gradient(rgba(73, 75, 76, 0.7), rgb(6 6 6 / 44%),rgb(6 6 6 / 44%)),url(../../../public/images/bannerforall.jpg) center center no-repeat;
}

@media (max-width:999px) {
    
    .bgHeader .Head{

        font-size: 16px;
    }
}
