.we-offer-area .our-offer-items.less-carousel .equal-height {
    margin-bottom: 30px;
}


.we-offer-area.text-center .item {
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    padding: 67px 40px 64px;
}

.we-offer-area .item {
    background: #ffffff none repeat scroll 0 0;
    border-left: 2px solid #00a01d;
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    overflow: hidden;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.TechnolgyImage{

    max-width: 100%;
    height: auto;
}


.we-offer-area .item h4 {
    font-weight: 600;
    text-transform: capitalize;
}

.we-offer-area .item:hover {
    background: crimson;
    transition: 0.8s ease;
   
}

.we-offer-area .item:hover P{

    color: white;
}

